
table {
    border-collapse: collapse;
    width: 40%;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: lightseagreen;
}
.add-button {
    margin-top: 10px;
    width: 200px;
    border-radius: 6px;
}
